p{
    color: black;
}
section .chitietsach{
    width: 100%;
    height: 2000px;
    margin-top: 10px;
}
section .chitietsach .danhmuc{
    height: 40px;
    border-bottom: 1px solid darkgrey;
}
section .chitietsach .danhmuc ul{
    display: flex;
    margin: 0 10px;
}
section .chitietsach .danhmuc ul li{
    margin: 0 10px;
    line-height: 40px;
}
section .chitietsach .danhmuc ul li a{
    font-size: 13px;
}
section .chitietsach .danhmuc i{
    color: gray;
}
section .chitietsach .chitiet{
    margin-top: 30px;
}
section .chitietsach .chitiet .thongtinsach{
    height: 500px;
    display: flex;
}
section .chitietsach .chitiet .thongtinsach img{
    width: 200px;
    height: 280px;
    margin: 20px 30px 0 10px;
}
section .chitietsach .chitiet .thongtinsach .thongtinchitiet{
    margin-top: 30px;
    width: 500px;
}
section .chitietsach .chitiet .thongtinsach .thongtinchitiet p{
    margin-top: 10px;
}
section .chitietsach .chitiet .thongtinsach .thongtinchitiet #p0{
    color: gray;
    margin-top: 20px;
    font-size: 13.5px;
    margin-left: 5px;
    line-height: 20px;
    word-spacing: 5px;
}
section .chitietsach .chitiet .thongtinsach .thongtinchitiet #p1{
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
}
section .chitietsach .chitiet .thongtinsach .thongtinchitiet a{
    color: #057a45;
}
section .chitietsach .chitiet .thongtinsach .thongtinchitiet #a0{
    color: darkcyan;
    margin-left: 5px;
}
section .chitietsach .chitiet .thongtinsach .thanhtoan1{
    width: 250px;
    height: 220px;
    border: 2px solid gray;
    margin: 30px 0 0 100px;
    border-radius: 10px;
    position: relative;
}
section .chitietsach .chitiet .thongtinsach .thanhtoan1 p{
    margin: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed gray ;	
    font-weight: bold;
}
section .chitietsach .chitiet .thongtinsach .thanhtoan1 #p2{
    color: #057a45;
    text-align: center;
    font-weight: bold;
}
section .chitietsach .chitiet .thongtinsach .thanhtoan1 span{
    margin-left: 40px;
    color:orangered;
    font-weight: bold;
    font-size: 16px;
}
section .chitietsach .chitiet .thongtinsach .thanhtoan1 a{
    padding: 8px 30px 13px 20px ;
    border-radius: 5px;
    background: palegoldenrod;
    position: absolute;
    bottom: 20px;
    left: 45px;
    border: 1px solid goldenrod;
    color: #057a45;
    font-weight: bold;
}
section .chitietsach .chitiet .thongtinsach .thanhtoan1 i{
    padding-right: 10px;
    color: seagreen;
    font-size: 20px;
}
section .chitietsach .chitiet .gioithieusach .gthieu{
    height: auto;
}
section .chitietsach .chitiet .gioithieusach .gthieu ul{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
}
section .chitietsach .chitiet .gioithieusach .gthieu ul li{
    margin: 0px 50px 0 0;
}
section .chitietsach .chitiet .gioithieusach .gthieu ul li a{
    color : dimgray;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: bold;
}
section .chitietsach .chitiet .gioithieusach .gthieu ul li a:hover{
    color: seagreen;
    border-bottom: 2px solid seagreen;
}
section .chitietsach .chitiet .gioithieusach .gthieu p{
    margin-top: 30px; 
}
section .chitietsach .chitiet .gioithieusach .gthieu #p3{
    font-size: 16px;
}
section .chitietsach .chitiet .gioithieusach .gthieu #p4{
    line-height: 35px;
    margin-left: 5px;
    font-size: 15px;
    color: dimgrey;
}
section .chitietsach .chitiet .gioithieusach .thongtinchitietsach{
    margin-top: 50px;
    display: flex;
}